<%- include("../includes/header.ejs", {title:"All Cards",player:player}); %>
<h1>All Cards</h1>
Select a link to view all the cards in the game.
<br/>
<a href onclick="event.preventDefault();window.location.href='/all/allMemberCardsOptions/?player_id=<%= player.player_id %>'">All Member Cards</a>
<br/>
<a href onclick="event.preventDefault();window.location.href='/all/allSkillCardsOptions/?player_id=<%= player.player_id %>'">All Skill Cards</a>
<br/>
<br/>
<br/>
<br/>
<%- include("../includes/footer.ejs"); %>