<%- include("../includes/header.ejs", {title:"All Member Cards", player:player}); %>

<h1>All Member Cards</h1>

<br />
Total: <%= count.count %>
<table border="1">
    <tr><th>Card ID</th><th>Idol</th><th>Rarity</th><th>Series</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].card_id %></td>
        <td><%= result[i].idol_name %></td>
        <td><%= result[i].rarity_name %></td>
        <td><%= result[i].series_name %></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>