<%- include("./includes/headerIndex.ejs", {title: title}); %>
<a href="/"><-Back</a>
<h1>Purpose</h1>
    <p>The purpose of this website is to log and display information related to the cards that players of
        the game <a href="http://www.lovelive-sifac.jp/">Love Live School Idol Festival ~After School Activity~</a> have collected.
    </p>
    <p>The game features many cards that can be collected, and having a way to keep track of the cards you have is very useful to players.<br>
        Cards are divided into member cards and skill cards.</p>
<h1><a href="/images/MemberCards.jpg">Member Cards</a></h1>
<p>Member cards represent a character the player can use in the game.
<br/>The data in a member card is:<br/>
    -The idol's name <br/>
    -The rarity of the card (the letters on the top left) <br/>
    -The series of the card (the outfit they're wearing) <br/>
</p>

<h1><a href="/images/SkillCard.jpg">Skill Cards</a></h1>
<p>Skill cards represent a skill the player can use in the game.
    <br/>The data in a skill card is:<br/>
    -The idol's name <br/>
    -The name of the skill on the card<br/>
    -The color of the card <br/>
    -The level of the skill<br/>
</p>

<h1>Notes</h1>
Card ID's are an important part of tracking data for the player, so they have been included in output.<br/>
These are not simply auto-incrementing ID's. The Card ID's in the database correspond to the actual ID's the cards have in the game.
<h1>Diagrams</h1>
<a href="/images/ER.PNG">ER Diagram</a><br/>
<a href="/images/RS.PNG">Relational Schema</a><br/>
<a href="/images/DD.png">Dependency Diagram</a><br/>

<%- include("./includes/footerIndex.ejs"); %>
