<%- include("./includes/header.ejs", {title: title, player: player}); %>
    <h1>Welcome <%= player.player_name %></h1>
    <p>To begin using the website, please use the links on the left.</p>
<br/>
<br/>
<br/>
<br/>


<%- include("./includes/footer.ejs"); %>
