<%- include("./includes/headerIndex.ejs", {title: "SIFAC Card Tracker"}); %>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Player successfully created. %>
    </div>
</div>
<% }%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>To use this website, you will first need to select a player account.</p>
<h1>Select Player</h1>
<form action="/player" method="get">
    User
    <br />
    <select id="player_id" name="player_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].player_id %>"><%= result[i].player_name + ' (' + result[i].level + ')' %></option>
        <% } %>
    </select>


    <br />
    <input type="submit" />
</form>

    <br />
    <a href="/player/newPlayer">New player?</a>
    <br/>

<%- include("./includes/footerIndex.ejs"); %>
