<%- include("../includes/header.ejs", {title:"Collected Skill Cards", player:player}); %>

<h1>Collected Skill Cards</h1>

<br />
Total: <%= count.count %>
<table border="1">
    <tr><th>Card ID</th><th>Idol</th><th>Skill</th><th>Color</th><th>Count</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].card_id %></td>
        <td><%= result[i].idol_name %></td>
        <td><%= result[i].skill_name %></td>
        <td><%= result[i].color_name %></td>
        <td><%= result[i].count %></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>