<%- include("../includes/header.ejs", {title:"Collected Cards",player:player}); %>
<h1>Collected Cards</h1>
Select a link to view how many copies of each card have been collected game-wide.
<br/>
<a href onclick="event.preventDefault();window.location.href='/everyone/everyoneMemberCardsOptions/?player_id=<%= player.player_id %>'">Collected Member Cards</a>
<br/>
<a href onclick="event.preventDefault();window.location.href='/everyone/everyoneSkillCardsOptions/?player_id=<%= player.player_id %>'">Collected Skill Cards</a>
<br/>
<br/>
<br/>
<br/>
<%- include("../includes/footer.ejs"); %>