<%- include("../includes/header.ejs", {title:"Add New Card",player:player}); %>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Card was successfully added. %>
    </div>
</div>
<% }%>
<h1>Add New Cards</h1>
Select a link to choose which type of card you want to add.
<br/>
<a href onclick="event.preventDefault();window.location.href='/player/addMemberCardOptions/?player_id=<%= player.player_id %>'">Add Member Card</a>
<br/>
<a href onclick="event.preventDefault();window.location.href='/player/addSkillCardOptions/?player_id=<%= player.player_id %>'">Add Skill Card</a>
<br/>
<br/>
<br/>
<br/>
<%- include("../includes/footer.ejs"); %>