<%- include("../includes/header.ejs", {title:"Member Card Data",player:player}); %>
<h1>Enter Card Data</h1>
<form action="/player/addMemberCard" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">
    Idol
    <br />
    <select id="idol_name" name="idol_name">
        <% for(var i=0; idol.length > i; i++ ) { %>
        <option value="<%= idol[i].idol_name %>"><%= idol[i].idol_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Rarity
    <br/>
    <select id="rarity_name" name="rarity_name">
        <% for(var i=0; rarity.length > i; i++ ) { %>
        <option value="<%= rarity[i].rarity_name %>"><%= rarity[i].rarity_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Series
    <br/>
    <select id="series_name" name="series_name">
        <% for(var i=0; series.length > i; i++ ) { %>
        <option value="<%= series[i].series_name %>"><%= series[i].series_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>