<%- include("../includes/header.ejs", {title:"Skill Card Filters",player:player}); %>
<h1>Select Search Filters</h1>
<form action="/player/addSkillCard" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">
    Idol
    <br />
    <select id="idol_name" name="idol_name">
        <% for(var i=0; idol.length > i; i++ ) { %>
        <option value="<%= idol[i].idol_name %>"><%= idol[i].idol_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Skill
    <br/>
    <select id="skill_name" name="skill_name">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_name %>"><%= skill[i].skill_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Level
    <br/>
    <input id="skill_level" name="skill_level" type="text" value=""/>

    <br />
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>