<%- include("../includes/header.ejs", {title:"My Cards",player:player}); %>
<h1>My Cards</h1>
Select a link to view the cards you have collected.
<br/>
<a href onclick="event.preventDefault();window.location.href='/player/myMemberCardsOptions/?player_id=<%= player.player_id %>'">My Member Cards</a>
<br/>
<a href onclick="event.preventDefault();window.location.href='/player/mySkillCardsOptions/?player_id=<%= player.player_id %>'">My Skill Cards</a>
<br/>
<br/>
<br/>
<br/>
<%- include("../includes/footer.ejs"); %>