<%- include("../includes/header.ejs", {title:"Member Card Filters",player:player}); %>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Card was successfully deleted. %>
    </div>
</div>
<% }%>
<h1>Select Search Filters</h1>
<form action="/player/myMemberCards" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">
    Idol
    <br />
    <select id="idol_name" name="idol_name">
        <option value="all">All Idols</option>
        <% for(var i=0; idol.length > i; i++ ) { %>
        <option value="<%= idol[i].idol_name %>"><%= idol[i].idol_name %></option>
        <% } %>
        <% for(var i=0; subunit.length > i; i++ ) { %>
        <option value="<%= subunit[i].subunit_name %>"><%= subunit[i].subunit_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Rarity
    <br/>
    <select id="rarity_name" name="rarity_name">
        <option value="all">All Rarities</option>
        <% for(var i=0; rarity.length > i; i++ ) { %>
        <option value="<%= rarity[i].rarity_name %>"><%= rarity[i].rarity_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Series
    <br/>
    <select id="series_name" name="series_name">
        <option value="all">All Series</option>
        <% for(var i=0; series.length > i; i++ ) { %>
        <option value="<%= series[i].series_name %>"><%= series[i].series_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>