<%- include("../includes/header.ejs", {title:"My Member Cards", player:player}); %>

<h1>My Member Cards</h1>

<br />
Total: <%= count.count %>
<table border="1">
    <tr><th>Card ID</th><th>Idol</th><th>Rarity</th><th>Series</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].card_id %></td>
        <td><%= result[i].idol_name %></td>
        <td><%= result[i].rarity_name %></td>
        <td><%= result[i].series_name %></td>
        <td>
            <form action="/player/deleteMemberCard" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= player.player_id %>" />
                <input type="hidden" name="card_id" id="card_id" value="<%= result[i].card_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>