<%- include("../includes/header.ejs", {title:"My Skill Cards", player:player}); %>

<h1>My Skill Cards</h1>
<br />
Total: <%= count.count %>
<table border="1">
    <tr><th>Card ID</th><th>Idol</th><th>Skill</th><th>Color</th><th>Level</th><th>Actions</th><th>Change Level</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].card_id %></td>
        <td><%= result[i].idol_name %></td>
        <td><%= result[i].skill_name %></td>
        <td><%= result[i].skill_color %></td>
        <td><%= result[i].skill_level %></td>
        <td>
            <form action="/player/deleteSkillCard" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= player.player_id %>" />
                <input type="hidden" name="card_id" id="card_id" value="<%= result[i].card_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
        <td>
            <form action="/player/editSkillCard" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= player.player_id %>" />
                <input type="hidden" name="card_id" id="card_id" value="<%= result[i].card_id %>" />
                <input type="hidden" name="skill_level" id="skill_level" value="<%= result[i].skill_level + 1%>" />
                <input type="submit" id="edit" value="+"/>
            </form>
            <form action="/player/editSkillCard" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= player.player_id %>" />
                <input type="hidden" name="card_id" id="card_id" value="<%= result[i].card_id %>" />
                <input type="hidden" name="skill_level" id="skill_level" value="<%= result[i].skill_level - 1%>" />
                <input type="submit" id="edit" value="-"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>