<%- include("../includes/header.ejs", {title:"Skill Card Filters",player:player}); %>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Card was successfully deleted. %>
    </div>
</div>
<% }%>
<% if(locals.was_edited) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Level was successfully changed. %>
    </div>
</div>
<% }%>
<h1>Select Search Filters</h1>
<form action="/player/mySkillCards" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">
    Idol
    <br />
    <select id="idol_name" name="idol_name">
        <option value="all">All Idols</option>
        <% for(var i=0; idol.length > i; i++ ) { %>
        <option value="<%= idol[i].idol_name %>"><%= idol[i].idol_name %></option>
        <% } %>
        <% for(var i=0; subunit.length > i; i++ ) { %>
        <option value="<%= subunit[i].subunit_name %>"><%= subunit[i].subunit_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Skill
    <br/>
    <select id="skill_name" name="skill_name">
        <option value="all">All Skills</option>
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_name %>"><%= skill[i].skill_name %></option>
        <% } %>
    </select>
    <br/>
    <br/>
    Level
    <br/>
    <select id="level" name="level">
        <option value="all">All Levels</option>
        <% for(var i=1; 6 > i; i++ ) { %>
        <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>

    <br />
    <br />
    <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>