<%- include("../includes/headerIndex.ejs", {title:"Add New Player"}); %>
<h1>Enter Player Data</h1>
<form action="/player/addNew" method="get">
    Player Name
    <br />
    <input id="player_name" name="player_name" type="text" value=""/>
    <br/>
    <br/>
    Player Level
    <br/>
    <input id="player_level" name="player_level" type="text" value=""/>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footerIndex.ejs"); %>